

@model ServiceModel

@{
    ViewData["Title"] = "Service Detail";
}


<section class="services-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="services-details-content">
                    <div class="services-content">


                        <div class="services-details-one">
                            <img src="~/assets/img/services/@Model.Service.Image" alt="Image">
                        </div>
                        <h2>@Html.DisplayFor(modelItem => Model.Service.Title)</h2>
                    </div>

                    <div class="services-content">
                        <p>
                            <b>Price: $ </b>

                            @if (Model.Service.PromotionPrice == null)
                            {
                                @Html.DisplayFor(modelItem => Model.Service.Price)

                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => Model.Service.PromotionPrice)

                                <span style="text-decoration-line: line-through; font-size: 75%">
                                    $ @Html.DisplayFor(modelItem => Model.Service.Price)
                                </span>
                            }
                        </p>
                    </div>

                    <div class="services-content">
                        <b>Description: </b>
                        @Html.DisplayFor(modelItem => Model.Service.Description)
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <a asp-controller="Contacts" asp-action="Index" asp-route-id="@Model.Service.Id" class="default-btn">
                                <span>Contact Us</span>
                            </a>
                        </div>
                        
                        <div class="btnShare col-8">
                            <!-- Your share button code -->
                            <div class="fb-share-button"
                                 data-href="window.location.href"
                                 data-layout="button_count">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="widget-sidebar">
                    <div class="sidebar-widget recent-post">
                        <h3 class="widget-title">Recent Post</h3>
                        <ul>
                            @foreach (var item in Model.Services.Take(4))
                            {
                                @if (item.Id != Model.Service.Id)
                                {
                                    <li>
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.Title)
                                            <img style="height: auto; width: 75px;" src="~/assets/img/services/@item.Image" alt="Image">
                                        </a>
                                        <span>$@Html.DisplayFor(modelItem => item.Price)</span>
                                    </li>
                                }
                            }
                            </ul>
                    </div>
                </div>

                @*<div class="services-sidebar">

                    <div class="services-contact mb-30">
                        <h3>Contact us to do your new projects</h3>
                        <a asp-controller="Contacts" asp-action="Index" asp-route-id="@Model.Service.Id" class="default-btn">
                            <span>Contact Us</span>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>
        
    </div>
</section>