@model IEnumerable<Codedy.StarSecurity.WebApp.Models.Database.Entities.Service>

@{
    ViewData["Title"] = "Service";
}




<div class="page-title-area page-title-style-two" style="background-image: url('/assets/img/camera-brand.jpg');">
    <div class="container">
        <div class="page-title-content">
            <h2 style="color: black">Services Style Three</h2>
            <ul>
                <li>
                    <a href="index.html" style="color: black">
                        <i class="bx bx-home"></i>
                        Home
                    </a>
                </li>
                <li class="active">Services Style Three</li>
            </ul>
        </div>
    </div>
</div>


<section class="our-approach-area-three pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our approach</span>
            <h2>How can i protect my website form cyber attacks</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-approach-box overly-one">
                    <div class="overly-two">
                        <div class="icon">
                            <i class="flaticon-key"></i>
                        </div>
                        <h3>Identifying Threats</h3>
                        <p>Lorem ipsum dolor amet, cons ectetur adipiscing elit, sed eiu smod tempor incididunt </p>
                        <div class="approach-shape">
                            <img src="~/assets/img/approach-shape.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-approach-box overly-one">
                    <div class="overly-two">
                        <div class="icon">
                            <i class="flaticon-padlock"></i>
                        </div>
                        <h3>Keep Software Updated </h3>
                        <p>Lorem ipsum dolor amet, cons ectetur adipiscing elit, sed eiu smod tempor incididunt </p>
                        <div class="approach-shape">
                            <img src="~/assets/img/approach-shape.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-approach-box overly-one">
                    <div class="overly-two">
                        <div class="icon">
                            <i class="flaticon-url"></i>
                        </div>
                        <h3>Check Website Url</h3>
                        <p>Lorem ipsum dolor amet, cons ectetur adipiscing elit, sed eiu smod tempor incididunt </p>
                        <div class="approach-shape">
                            <img src="~/assets/img/approach-shape.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-approach-box overly-one">
                    <div class="overly-two">
                        <div class="icon">
                            <i class="flaticon-antivirus"></i>
                        </div>
                        <h3>Use Antivirus Software</h3>
                        <p>Lorem ipsum dolor amet, cons ectetur adipiscing elit, sed eiu smod tempor incididunt </p>
                        <div class="approach-shape">
                            <img src="~/assets/img/approach-shape.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services-area pb-70">
    <div class="container">
        <div class="section-title">
            <span>Cybersecurity services</span>
            <h2>You can protect your organization’s cybersecurity by services us</h2>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services">
                        <div class="services-img">
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <img src="~/assets/img/services/@item.Image" alt="Image"style="height:15rem; width:17rem">
                            </a>
                        </div>
                        <div class="services-content">
                            <h3>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </a>
                            </h3>
                            <p>
                                @if (item.Description.Length < 100)
                                {
                                    @(item.Description)
                                }
                                else
                                {
                                    @(item.Description.Substring(0, 100) + " ...")
                                }
                            </p>
                            <a asp-action="Details" asp-route-id="@item.Id" class="read-more">
                                Read more
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
