@{
    ViewData["Title"] = "Home Page";
}
@model HomeModel
<style>
    .text-limited {
        width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
</style>



<section class="banner-area bg-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="top-title">Your Satisfaction Is Our Priority</span>
                    <h1>STAR SECURITY</h1>
                    <p>Protect your life and your family better also Codedy.</p>
                    <div class="banner-btn">
                        <a asp-area="" asp-controller="Contacts" asp-action="Index" class="default-btn">
                            <span>Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image">
                    @*<img src="~/assets/img/banner/banner-img-1.jpg" alt="image">*@
                    @*<img src="~/assets/img/cuuhoa.jpg" />*@
                    <img src="~/assets_admin/assets/img/istockphoto-1199060494-170667a.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Security Services</span>
            <h2>You Can Protect Your Organization’s Cybersecurity By Services Us</h2>
        </div>
        <div class="row">
            @foreach (var item in Model.Services)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services">
                        <div class="services-img">
                            <a asp-controller="Service" asp-action="Details" asp-route-id="@item.Id">
                                <img src="~/assets/img/services/@item.Image" style="height:15rem; width:18rem" alt="Image">
                            </a>
                        </div>
                        <div class="services-content">
                            <h3><a href="services-details.html">@item.Title</a></h3>
                            <div class="content">
                                <p class="text-limited">@item.Description</p>
                                <a asp-controller="Service" asp-action="Details" asp-route-id="@item.Id" class="read-more">
                                    Read More
                                    <i class="flaticon-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>



<section class="about-us-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div>
                    <img src="~/assets_admin/assets/img/network_security.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="about-title">
                        <span>Service new </span>
                        <h2>Without stopping for a moment we give you best technology experience discussing from our expertise to stop threats being theft or damaged.</h2>
                    </div>
                    <div class="tab">
                        <ul class="tabs">
                            <li>
                                Our Experience
                            </li>
                            <li>
                                Why Us?
                            </li>
                            <li>
                                Our Approach
                            </li>
                        </ul>
                        <div class="tab_content">
                            <div class="tabs_item">
                                <p>Anytime. Anywhere. We create cybersecurity tailored to your specific business needs. We defend against cyberattacks with proactive, focused, industry-relevant threat intelligence to give you the confidence that comes from knowing your business is secure.</p>
                                <ul>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Cybersecurity tailored
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Business needs
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Against cyberattacks
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Unctionality
                                    </li>
                                </ul>
                            </div>
                            <div class="tabs_item">
                                <p>Welcome to accenture.com! In order to provide a more relevant experience for you, we use cookies to enable some website functionality. Cookies help us see which articles most interest you.</p>
                                <ul>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Trusted Partner
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Product Security
                                    </li>

                                </ul>
                            </div>
                            <div class="tabs_item">
                                <p>
                                    Our broad cybersecurity knowledge and deep industry expertise allow us to develop next-gen cybersecurity services to protect your business, from end to end.
                                </p>
                                <ul>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Deep industry
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        System Security
                                    </li>
                                    <li>
                                        <i class="bx bx-check-circle"></i>
                                        Operational Security
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="solution-area pb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="solution-content">
                    <div class="solution-title">
                        <span>All-in Solution</span>
                        <h2>Our experts are providing and planning 24/7 technical support services with product and security consultation.</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="single-solution overly-one">
                                <div class="overly-two">
                                    <h3>
                                        <p>
                                            Product Consultation
                                        </p>
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                                    <span>01</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="single-solution overly-one">
                                <div class="overly-two">
                                    <h3>
                                        <p>
                                            Security Consultation
                                        </p>
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                                    <span>02</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 offset-md-3 offset-lg-0">
                            <div class="single-solution overly-one">
                                <div class="overly-two">
                                    <h3>
                                        <a>
                                            24/7 Technical Support
                                        </a>
                                    </h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                                    <span>03</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-0">
                <div class="solution-img">
                    <img src="~/assets/img/solution-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>*@


<section class="protect-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="protect-content">
                    <div class="protect-title">
                        <span>Cyber Security Protect</span>
                        <h2>Protect your website, web server, and web application for helping you being threats from the hacker</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-challenges overly-one">
                                <div class="overly-two">
                                    <i class="flaticon-database"></i>
                                    <h3>Database Security</h3>
                                    <p>Protect databases from external and internal network security threats.</p>
                                    <span class="flaticon-database"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-challenges overly-one">
                                <div class="overly-two">
                                    <i class="flaticon-application"></i>
                                    <h3>Database Security</h3>
                                    <p>Prevent data being stolen from malicious attacks, cybersecurity threats, as well as malicious code and unauthorized access.</p>
                                    <span class="flaticon-application"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-challenges overly-one">
                                <div class="overly-two">
                                    <i class="flaticon-security"></i>
                                    <h3>Web Security</h3>
                                    <p>Using Codedy's advanced security scanner helps protect the website from the latest risks.</p>
                                    <span class="flaticon-security"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-challenges overly-one">
                                <div class="overly-two">
                                    <i class="flaticon-security-1"></i>
                                    <h3>Server Security</h3>
                                    <p>Using vulnerability scanning software integrated with technologies that help increase security for servers of all sizes, all industries..</p>
                                    <span class="flaticon-security-1"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="protect-img">
                    <img style="height:600px;width:40rem" src="~/assets_admin/assets/img/security-guard-services-500x500.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>


<div class="partner-area ptb-100">
    <div class="container">
        <div class="partner-slider owl-theme owl-carousel">
            <div class="partner-item">
                <a href="#">
                    <img src="~/assets/img/partner/partner-1.png" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="~/assets/img/partner/partner-2.png" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="~/assets/img/partner/partner-3.png" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="~/assets/img/partner/partner-4.png" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="~/assets/img/partner/partner-5.png" alt="Image">
                </a>
            </div>
        </div>
    </div>
</div>


<section class="blog-area pb-70">
    <div class="container">
        <div class="section-title">
            <span>Latest News</span>
            <h2>Recruitment</h2>
        </div>
        <div class="row">
            @foreach (var item in Model.Careers.Take(6))
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a asp-controller="Career" asp-action="Details" asp-route-id="@item.Id">
                                <img src="~/assets/img/career/@item.Image" alt="Image" style="height:15rem">
                            </a>
                        </div>
                        <div class="blog-content">
                            <span>@String.Format("{0:dd/MM/yyyy}", item.CreatedAt)</span>
                            <h3><a  asp-controller="Career" asp-action="Details" asp-route-id="@item.Id">
                                       @Html.DisplayFor(modelItem => item.Title)</a></h3>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>



