@model Codedy.StarSecurity.WebApp.Models.Database.Entities.Career

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
        <div class="container-fluid">
            <div class="page-header-content">
                <h1 class="page-header-title">
                    <div class="page-header-icon"><i data-feather="file"></i></div>
                    <span>Career</span>
                </h1>
                <div class="page-header-subtitle">Company recruitment information</div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-n10">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Detail
                    </div>

                    <div class="card-body display_data">

                        <div class="position-relative  row form-group">
                            <label class="col-md-3 text-md-right">Image</label>
                            <div class="col-md-9 col-xl-8">
                                <img src="~/assets/img/career/@Model.Image" asp-append-version="true" height="200" />
                            </div>
                        </div>

                        <div class="position-relative  row form-group">
                            <label class="col-md-3 text-md-right ">First Name</label>
                            <div class="col-md-9 col-xl-8">
                                <p>@Html.DisplayFor(model => model.Title)</p>
                            </div>
                        </div>

                        <div class="position-relative  row form-group">
                            <label class="col-md-3 text-md-right ">Last Name</label>
                            <div class="col-md-9 col-xl-8">
                                <p>@Html.DisplayFor(model => model.Salary)</p>
                            </div>
                        </div>

                        <div class="position-relative  row form-group">
                            <label class="col-md-3 text-md-right">Email</label>
                            <div class="col-md-9 col-xl-8">
                                <p>@Html.DisplayFor(model => model.WorkAddress)</p>
                            </div>
                        </div>

                        <div class="position-relative  row form-group">
                            <label class="col-md-3 text-md-right">Description</label>
                            <div class="col-md-9 col-xl-8">
                                <p>@Html.DisplayFor(model => model.Description)</p>
                            </div>
                        </div>

                        <div class="position-relative  row form-group">
                            <label class="col-md-3 text-md-right">Address</label>
                            <div class="col-md-9 col-xl-8">
                                <p>@String.Format("{0:dd/MM/yyyy}", Model.ExpirationDate)</p>
                            </div>
                        </div>

                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
