@model IEnumerable<Codedy.StarSecurity.WebApp.Models.Database.Entities.Career>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
        <div class="container-fluid">
            <div class="page-header-content">
                <h1 class="page-header-title">
                    <div class="page-header-icon"><i data-feather="activity"></i></div>
                    <span>Career</span>
                </h1>
                <div class="page-header-subtitle">Company recruitment information</div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-n10">
        <div class="card mb-4">
            <div class="card-header">
                List from databases
                @if (ViewBag.SessionLevel == "Admin")
                {
                    <a asp-area="Admin" asp-controller="Careers" asp-action="Create" class="btn btn-sm btn-outline-primary ml-auto  lift">Create New</a>
                }
            </div>
            <div class="card-body">
                <div class="datatable table-responsive">

                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:150px">Title</th>
                                <th style="width:70px">Image</th>
                                <th style="width:70px">Salary</th>
                                <th style="width:100px">Work Address</th>
                                <th style="width:100px">Expiration Date</th>
                                <th style="width:70px">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="width:150px">Title</th>
                                <th style="width:70px">Image</th>
                                <th style="width:70px">Salary</th>
                                <th style="width:100px">Work Address</th>
                                <th style="width:100px">Expiration Date</th>
                                <th style="width:70px">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        <img style="height: 50px;" class="zoom" src="~/assets/img/career/@item.Image" alt="Image">
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Salary)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkAddress)
                                    </td>
                                    <td>
                                        @String.Format("{0:dd/MM/yyyy}", item.ExpirationDate)
                                    </td>
                                    <td class=" @((ViewBag.SessionLevel  != "Admin")?"text-center":"")">
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="eye" class="text-primary"></i></a>
                                        @if (ViewBag.SessionLevel == "Admin")
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="edit" class="text-warning"></i></a>
                                            <form asp-action="Delete" style="display:inline">
                                                <input type="hidden" value="@item.Id" name="Id" />
                                                <button type="submit" class="btn btn-datatable btn-icon btn-transparent-dark"
                                                        onclick="return confirm('Deleted successfully')">
                                                    <span class="btn-icon-wrapper pr-2 opacity-8">
                                                        <i data-feather="trash-2" class="text-danger"></i>
                                                    </span>
                                                </button>
                                            </form>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
