@model IEnumerable<Codedy.StarSecurity.WebApp.Models.Database.Entities.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
        <div class="container-fluid">
            <div class="page-header-content">
                <h1 class="page-header-title">
                    <div class="page-header-icon"><i data-feather="activity"></i></div>
                    <span>Dashboard</span>
                </h1>
                <div class="page-header-subtitle">Example dashboard overview and content summary</div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-n10">
        <div class="card mb-4">
            <div class="card-header">DataTable Example</div>
            <div class="card-body">
                <div class="datatable table-responsive">
                    <div><a asp-area="Admin" asp-controller="Employees" asp-action="Create" class="btn btn-outline-info mb-3">Create New</a></div>
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th> 
                                <th>Address</th>
                                <th>Gender</th>
                                <th>DOB</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Gender</th>
                                <th>DOB</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirtName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DOB)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="eye" class="text-primary"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="edit" class="text-warning"></i></a>
                                        <form asp-action="Delete" style="display:inline">
                                            <input type="hidden" value="@item.Id" name="Id" />
                                            <button type="submit" class="btn btn-datatable btn-icon btn-transparent-dark"
                                                    onclick="return confirm('Deleted successfully')">
                                                <span class="btn-icon-wrapper pr-2 opacity-8">
                                                    <i data-feather="trash-2" class="text-danger"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>