

@model Codedy.StarSecurity.WebApp.Models.Database.Entities.Career

@{
    ViewData["Title"] = "Career Detail";
}


<div class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <h2>Career Detail</h2>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bx bx-home"></i>
                        Home
                    </a>
                </li>
                <li class="active">Career Detail</li>
            </ul>
        </div>
    </div>
</div>


<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-content">
                    <div class="blog-details-img">
                        <img src="~/assets/img/career/@Model.Image" alt="Image">
                    </div>
                    <div class="blog-top-content">
                        <div class="news-content">
                            <ul class="admin">
                                <li>
                                    <a href="#">
                                        <i class="bx bx-user-circle"></i>
                                        Posted by: @Html.DisplayFor(modelItem => Model.CreatedBy)
                                    </a>
                                </li>
                                <li class="float">
                                    <i class="bx bx-calendar-alt"></i>
                                    Expiration Date: @Model.ExpirationDate.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("en-us"))
                                </li>
                            </ul>
                            <div class="btnShare">
                                <!-- Your share button code -->
                                <div class="fb-share-button" style="float: left"
                                     data-href="window.location.href"
                                     data-layout="button_count">
                                </div>

                                <div class="zalo-share-button" style="float: left; margin-left: 5px"
                                     data-href=""
                                     data-oaid="579745863508352884"
                                     data-layout="1"
                                     data-color="blue"
                                     data-customize="false">
                                </div>
                            </div>
                            <h3>@Html.DisplayFor(modelItem => Model.Title)</h3>

                            <p>
                                <b>Work Address: </b>
                                @Html.DisplayFor(modelItem => Model.WorkAddress)
                            </p>
                            <p>
                                <b>Salary: </b>
                                @Html.DisplayFor(modelItem => Model.Salary)
                            </p>

                        </div>

                        <div class="news-content">
                            <p class="my-3"><b>Description:</b></p>

                            <div>
                                @Html.DisplayFor(modelItem => Model.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="widget-sidebar">
                    <div class="sidebar-widget search">
                        <form class="search-form">
                            <input class="form-control" name="search" placeholder="Search here" type="text">
                            <button class="search-button" type="submit">
                                <i class="bx bx-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="sidebar-widget recent-post">
                        <h3 class="widget-title">Recent Post</h3>
                        <ul>
                            <li>
                                <a href="blog-details.html">
                                    The essentiaaals of cybersecurity solutions
                                    <img src="~/assets/img/blog-details/recent-post-1.jpg" alt="Image">
                                </a>
                                <span>January 19,2021</span>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Top 10 cybersecurity tips for working place
                                    <img src="~/assets/img/blog-details/recent-post-2.jpg" alt="Image">
                                </a>
                                <span>January 18,2021</span>
                            </li>
                            <li>
                                <a href="blog-details.html">
                                    Don’t forget caybersecurity on your computer
                                    <img src="~/assets/img/blog-details/recent-post-3.jpg" alt="Image">
                                </a>
                                <span>January 09,2021</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>