@model IEnumerable<Codedy.StarSecurity.WebApp.Models.Database.Entities.Career>

@{
    ViewData["Title"] = "Career";
}
    <div class="container">
        <div class="page-title-content text-center" style="margin-top: 15%;">
            <h2>STAR SECURITY</h2>
            <p>
                Star securities has been one of the pioneers in the Private Security Industry. Set up in 2000, the company has been a thought and knowledge leader since its inception. Through the decade of its existence, Star has endeavored to provide the best security solutions to its customers through innovation, commitment to quality, training and strict compliance to international standards.
            </p>
            <p>
                Setup as Investigation firm almost 10 years ago, today the company has grown into a "Total Security Solutions Provider" offering manned guarding (MG), investigations (C&I), electronic security systems (ESS) and cash services (CS) to over 250 corporate customers across 24 states.
            </p>
            <b>
                Below is a list of positions that the company is hiring, you can also be a part of the company, pleased to welcome you.
            </b>
        </div>
    </div>

<section class="blog-column-two-area ptb-100">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6">
                    <div class="single-blog-posts">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/assets/img/career/@item.Image" alt="Image" style="height:25rem">
                        </a>

                        <div class="single-blog-content">
                            <span>@Html.DisplayFor(modelItem => item.WorkAddress)</span>
                            <h3>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </a>
                            </h3>
                            <p>
                                @if (item.Description.Length < 200)
                                {
                                    @(item.Description)
                                }
                                else
                                {
                                    @(item.Description.Substring(0, 200) + " ...")
                                }
                            </p>
                            <ul class="admin">
                                <li>
                                    <a href="#">
                                        <i class="bx bx-user-circle"></i>
                                        Posted by: @Html.DisplayFor(modelItem => item.CreatedBy)
                                    </a>
                                </li>
                                <li class="float">
                                    <i class="bx bx-calendar-alt"></i>
                                    @item.ExpirationDate.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("en-us"))
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
