@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
        <div class="container-fluid">
            <div class="page-header-content">
                <h1 class="page-header-title">
                    <div class="page-header-icon"><i data-feather="activity"></i></div>
                    <span>Recruitment</span>
                </h1>
                <div class="page-header-subtitle"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-n10">
        <div class="card mb-4">
            <div class="card-header">DataTable Example</div>
            <div class="card-body"> 
                <div class="datatable table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Name Career</th>
                                <th>Phone Number</th>
                                <th>Email Address</th>
                                <th>Address</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Name Career</th>
                                <th>Phone Number</th>
                                <th>Email Address</th>
                                <th>Address</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    @item.NameCareer
                                </td>
                                <td>
                                    @item.Phone
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Address
                                </td>
                                <td>
                                    @item.StatusRecruitment
                                    @*@if (item.Status == Status.Processing)
        {
            <div class="badge badge-warning badge-warning">Processing</div>
        }
        else if (item.Status == Status.Used)
        {
            <div class="badge badge-primary badge-pill">Used</div>
        }
        else if (item.Status == Status.Using)
        {
            <div class="badge badge-success badge-pill">Using</div>
        }
        else
        {
            <div class="badge badge-danger badge-pill">Cancelled</div>
        }*@
                                </td>

                                <td>
                                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-datatable btn-icon btn-transparent-dark lift-sm"><i data-feather="eye" class="text-primary"></i></a>
                                    <a asp-action="Edit" asp-controller="RecruitmentAdmin" asp-route-id="@item.Id" class="btn btn-datatable btn-icon btn-transparent-dark lift-sm"><i data-feather="edit" class="text-warning"></i></a>
                                    <form asp-action="Delete" asp-controller="RecruitmentAdmin" class="d-inline-block">
                                        <input type="hidden" value="@item.Id" name="Id" />
                                        <button type="submit" class="btn btn-datatable btn-icon btn-transparent-dark lift-sm"
                                                onclick="return confirm('Confirm delete?')">
                                            <span class="btn-icon-wrapper pr-2 opacity-8">
                                                <i data-feather="trash-2" class="text-danger"></i>
                                            </span>
                                        </button>
                                    </form>
                                    <a asp-action="Mail" asp-controller="RecruitmentAdmin" asp-route-id="@item.Id" class="btn btn-datatable btn-icon btn-transparent-dark lift-sm"><i class="far fa-envelope text-primary font-weight-200"></i></a>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>